.card-container {
	@include flex-row-center;
	width: 100%;
	background-color: $Very-Dark-Blue;
	padding: 20.55rem 0;

	@media screen and (max-width: 700px) {
		padding: 10rem 0;
	}
}

.card {
	background-color: #19212c;
	width: 43.47rem;
	border-radius: 3rem;
	padding: 3.45rem;

	@media screen and (max-width: 700px) {
		width: 80%;
	}

	@media screen and (max-width: 390px) {
		width: 90%;
	}

	.star-img {
		width: 5rem;
		height: 5rem;
		background-color: #1f2c35;
		border-radius: 50%;
		@include flex-row-center;
	}

	.text {
		color: $White;
		.heading-main {
			margin-top: 3.3rem;
			font-size: 2.93rem;
		}

		.review-text {
			line-height: 2.5rem;
			font-size: 1.58rem;
			margin-top: 1.4rem;
			color: $Light-Grey;
		}
	}
}

.stars {
	@include flex-row;
	align-content: center;
	margin-top: 2.65rem;

	@media screen and (max-width: 700px) {
		justify-content: space-between;
	}

	.star {
		position: relative;
		cursor: pointer;
		color: $Light-Grey;
		width: 5.3rem;
		height: 5.3rem;
		background-color: #1f2c35;
		border-radius: 50%;
		@include flex-row-center;
		font-size: 1.7rem;
		font-weight: 700;

		@media screen and (max-width: 700px) {
			margin-right: 0 !important;
		}

		@media screen and (max-width: 430px) {
			width: 4rem;
			height: 4rem;
		}

		&:hover {
			background-color: $Orange;
		}

		&:not(:last-child) {
			margin-right: 2.33rem;
		}

		img {
			width: 1rem;
			height: 1rem;
			position: absolute;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s;
		}

		&:hover img {
			transform: scale(5) translate(-0.2px, -0.1px);
			opacity: 1;
			visibility: visible;

			@media screen and (max-width: 430px) {
				transform: scale(4) translate(-0.2px, -0.1px);
			}
		}

		&:active img {
			transform: scale(5) translate(-0.2px, -0.1px);

			@media screen and (max-width: 430px) {
				transform: scale(4) translate(-0.2px, -0.1px);
			}
		}
	}
}

.submit-button {
	text-align: center;
	background-color: $Medium-Grey;
	text-transform: uppercase;
	color: $White;
	font-weight: 700;
	letter-spacing: 0.2rem;
	font-size: 1.6rem;
	margin-top: 3.5rem;
	padding: 1.4rem 0;
	border-radius: 2.5rem;
	transition: all 0.3s;
	cursor: not-allowed;

	@media screen and (max-width: 500px) {
		padding: 1rem 0;
	}
}

.button-enabled {
	color: $White !important;
	background-color: $Orange !important;
	cursor: pointer !important;

	&:hover {
		transform: translateY(-0.1rem);
		background-color: $White;
		color: $Orange;
	}

	&:active {
		transform: scale(0.9);
	}
}

.star-selected {
	background-color: $Light-Grey !important;
	color: $White !important;
}

.show-emoji {
	transform: scale(5) translate(-0.2px, -0.1px);
	opacity: 1;
	visibility: visible;
}

.thank-you-container {
	@include flex-column-center;
	text-align: center;
	margin-bottom: 1.7rem;
	position: relative;

	.re-rate {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.6rem;
		color: $White;
		cursor: pointer;
		transition: all 0.3s;
		padding: 1rem;
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		@include flex-row-center;

		&:hover {
			background-color: $Dark-Blue;
			transform: rotate(360deg);
			color: $Orange;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	img {
		margin-top: 1.1rem;
		width: 17rem;
	}

	.stars-given {
		margin-top: 3.5rem;
		padding: 0.7rem 3rem;
		border-radius: 2rem;
		background-color: $Dark-Blue;

		p {
			font-style: 1.5rem;
			color: $Orange;
		}
	}

	.thanks-heading {
		margin-top: 3.5rem;
		font-size: 2.9rem;
		margin-bottom: 1.3rem;
		color: $White;
		animation: beats 2s ease-in-out infinite;
	}

	.thanks-para {
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: $Light-Grey;
	}
}
