@keyframes beats {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #121417;
  padding: 20.55rem 0;
}

.card {
  background-color: #19212c;
  width: 43.47rem;
  border-radius: 3rem;
  padding: 3.45rem;
}

.card .star-img {
  width: 5rem;
  height: 5rem;
  background-color: #1f2c35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .text {
  color: white;
}

.card .text .heading-main {
  margin-top: 3.3rem;
  font-size: 2.93rem;
}

.card .text .review-text {
  line-height: 2.5rem;
  font-size: 1.58rem;
  margin-top: 1.4rem;
  color: #959eac;
}

.stars {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 2.65rem;
}

.stars .star {
  position: relative;
  cursor: pointer;
  color: #959eac;
  width: 5.3rem;
  height: 5.3rem;
  background-color: #1f2c35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
}

.stars .star:hover {
  background-color: #fb7413;
}

.stars .star:not(:last-child) {
  margin-right: 2.33rem;
}

.stars .star img {
  width: 1rem;
  height: 1rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.stars .star:hover img {
  transform: scale(5) translate(-0.2px, -0.1px);
  opacity: 1;
  visibility: visible;
}

.stars .star:active img {
  transform: scale(5) translate(-0.2px, -0.1px);
}

.submit-button {
  text-align: center;
  background-color: #7c8798;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  margin-top: 3.5rem;
  padding: 1.4rem 0;
  border-radius: 2.5rem;
  transition: all 0.3s;
  cursor: not-allowed;
}

.button-enabled {
  color: white !important;
  background-color: #fb7413 !important;
  cursor: pointer !important;
}

.button-enabled:hover {
  transform: translateY(-0.1rem);
  background-color: white;
  color: #fb7413;
}

.button-enabled:active {
  transform: scale(0.9);
}

.star-selected {
  background-color: #959eac !important;
  color: white !important;
}

.show-emoji {
  transform: scale(5) translate(-0.2px, -0.1px);
  opacity: 1;
  visibility: visible;
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.7rem;
  position: relative;
}

.thank-you-container .re-rate {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thank-you-container .re-rate:hover {
  background-color: #252d37;
  transform: rotate(360deg);
  color: #fb7413;
}

.thank-you-container .re-rate:active {
  transform: scale(0.9);
}

.thank-you-container img {
  margin-top: 1.1rem;
  width: 17rem;
}

.thank-you-container .stars-given {
  margin-top: 3.5rem;
  padding: 0.7rem 3rem;
  border-radius: 2rem;
  background-color: #252d37;
}

.thank-you-container .stars-given p {
  font-style: 1.5rem;
  color: #fb7413;
}

.thank-you-container .thanks-heading {
  margin-top: 3.5rem;
  font-size: 2.9rem;
  margin-bottom: 1.3rem;
  color: white;
  animation: beats 2s ease-in-out infinite;
}

.thank-you-container .thanks-para {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #959eac;
}
/*# sourceMappingURL=main.css.map */